.playground {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  background-color: rgba(31, 28, 28, 0.86);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
