@font-face {
  font-family: 'VirtualDJ';
  src: url('fonts/VirtualDJ.eot');
  src: url('fonts/VirtualDJ.eot?#iefix') format('embedded-opentype'),
       url('fonts/VirtualDJ.woff') format('woff'),
       url('fonts/VirtualDJ.ttf') format('truetype'),
       url('fonts/VirtualDJ.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
}

.appContent {
  width: 100%;
  height: 100%;
  overflow: auto;
}


.aside {
  background-color: #333;
  width: 90px;
  min-width: 90px;
  max-width: 90px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

.aside__header {
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside__logo {
  height: 80px;
  width: 80px;
  display: block;
}
.aside__image {
  width: 100%;
  height: 100%;
}


.app__nav {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem 0;
}


.aside__footer {

}
.footer__avatar {
  height: 90px;
  width: 90px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.footer__image {
  height: 80px;
  width: 80px;
  display: block;
}
.footer__name {

}
